.App {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  text-rendering: optimizeLegibility;
  font: var(--font-m);
  box-sizing: border-box;
}
